<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
 RewriteCond %{HTTP_HOST} ^www.mandarin-kino.ru$ [NC]
    RewriteRule ^(.*)$ https://mandarin-kino.ru/$1 [R=301,L]
    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

<Files "artisan">
Order Allow,Deny
Deny from all
</Files>

<Files "package.json">
Order Allow,Deny
Deny from all
</Files>

<Files "composer.json">
Order Allow,Deny
Deny from all
</Files>

<Files "composer.lock">
Order Allow,Deny
Deny from all
</Files>

<Files ".env">
Order Allow,Deny
Deny from all
</Files>