
.fullstory_title {
    margin-top: 0;
    color: #f5ac0e;
}
.fullstory_text {
    color: #15C69B;
}

.embeded_video_container {
    text-align: center;
    width: 100%;
}

.embeded_video_container iframe {
    width: 640px;
    height: 360px;
}

@media screen and (max-width: 1200px) {
    .embeded_video_container iframe {
        width: 640px;
        height: 360px;
    }
}
@media screen and (max-width: 700px) {
    .embeded_video_container iframe {
        width: 426px;
        height: 240px;
    }
}
@media screen and (max-width: 320px) {
    .embeded_video_container iframe {
        width: 280px;
        height: 157px;
    }
}
.fullstory_header_line {
    width: 97%;
    border-top: 1px solid #e2e2e2;
}

.share_container {
    padding: 10px 10px 10px 0;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: #f5ac0e;
}
.share_container a {
    display: inline-block;
    margin:5px 10px 0 0;
    font-size: 16px;
}
.share_container img {
    vertical-align: baseline;
}
.share_container a, .share_container a:hover {
    text-decoration: none;
}

.alert-info a {
    text-decoration: underline;
}

.btn {
    border: none;
    outline: none;
    padding: 6px 12px;
    text-align: center;
    background-color: #f5ac0e;
    color: black;
    border-radius: 3px;
    transition: .3s;
    line-height: 27px;
    margin: 10px 10px 20px 0;
}
.btn:hover {
    background-color: rgba(245, 172, 14, 0.75);
}

.btn img {
    width: 25px;
    vertical-align: top;
}

.song_tags a, .song_tags a:hover {
    padding: 3px 2px;
    color: #82858a;
    display: inline;
}
.song_tags span {
    color: #f5ac0e;
}