html {
    min-height: 100%;
}

body {
    background: #DCEDC8;
    background: linear-gradient(to bottom, rgba(220, 237, 200, 1) 0%, rgba(104, 159, 56, 1) 100%);
}

a {
    text-decoration: none;
    cursor: pointer;
}

a.accent-color:hover {
    background: rgba(255, 83, 34, 0.64);
}

.multi_ul_dropdown ul {
    width: 520px;
}

.multi_ul_dropdown ul li {
    display: inline-block;
    width: 170px;
}

.page_content {
    background: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 20px;
    margin-top: 50px;
}

.navbar-brand:hover, .nav > li > a, .navbar-brand, .nav > li > a:hover, .nav > li:hover {
    color: inherit;
    background-color: inherit;
}

.nav > li:not(.search_container):hover {
    background-color: #FF5722;
}

.content_block {
    margin-bottom: 25px;
}

.content_block h2, .content_block h1 {
    margin: 10px 0;
}

.content_block hr {
    margin-top: 0;
}


.footer {
    margin-top: 20px;
    padding-bottom: 15px;
}

.footer_block {
    text-align: center;
}

.footer_block .title {
    font-size: 19px;
    font-weight: bold;
    margin-top: 10px;
}

.footer_block ul {
    list-style-type: none;
    padding: 0;
}

.footer_block ul li a {
    color: #689F38;
}

.watch_btn, .watch_btn:hover {
    margin: 15px 0;
    padding: 6px 15px;
    border-radius: 3px;
    border:1px solid #689F38;
    color: #689F38;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
}

.alert {
    width: 100%;
    padding: 5px 0 5px 13px;
    color: white;
    border-radius: 3px;
    margin: 10px 0;
}
.alert ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.alert-error {
    background: #ff5835;
}
.alert-success {
    background: #689F38;
}
.alert-info {
    background: rgba(255, 88, 33, 0.59);
    text-align: center;
}

.alert-neutral {
    color: black;
    background: white;
}

.navbar-brand img {
    height: 35px;
    display: inline-block;
    position: relative;
    top: -7px;
    vertical-align: text-top;
}


.search_btn {
    border: none;
    background-color: #ff5835;
    border-radius: 0 3px 3px 60px;
    position: absolute;
    padding-left: 30px;
    right: 0;
    top: 0;
    width: 140px;
    height: 100%;
}

.search_btn img {
    width: 20px;
}
.search_container {
    width: 740px;
    position: relative;
}

li.search_container:hover {
    background-color: transparent;
    background: transparent;
}

.tags {
    text-align: center;
    border: 1px solid #689F38;
    border-radius: 3px;
    margin: 10px 0;
    background: #DCEDC8;
    color: #FF5722;
    padding: 5px 0 15px;
}
.tag {
    font-size: 19px;
    margin: 3px 5px;
    display: inline-block;
    color: #689F38;
}

body {
    padding-bottom: 60px;
}
.track_list {
    padding: 0;
}

.songs {
    padding: 0;
    margin: 0;
}

.songs li{
    display: block;
    float: none;
    margin: 5px;
    width:100%;
    transition: .3s;
    cursor: pointer;
    padding: 5px;
}
.track:hover {
    background-color: #e3f4cf;
}

.songs li  .track{
    width: 100%;
    display: inline-block;
    height: inherit;
    text-decoration: none;
    color: #689F38;
    line-height: 30px;
}

.song_poster {
    display: inline-block;
    height: 30px;
    width: 45px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-right: 10px;
    text-align: center;
    position: relative;
}

.duration {
    float: right;
    margin-right: 10px;
}

.song_name {
    display: inline-block;
}

.song_poster img {
    width: 25px;
    display: none;
    transition: .2s;
    position: absolute;
    top: 3px;
    left: 10px;
    z-index: 2;
}
.song_poster_cover {
    position: absolute;
    display: none;
    background: rgba(150, 167, 129, .8);
    transition: .2s;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 1;
}
.track:not(.current_track):hover > .song_poster img.play, .track:not(.current_track):hover > .song_poster .song_poster_cover  {
    display: inline-block;
}

.pause {
    display: none;
}

.track.current_track  {
    background-color: #DCEDC8;
}
.track.current_track.playing .pause {
    display: inline-block;
}
.track.current_track.playing .play {
    display: none;
}
.track.current_track  .song_poster_cover {
    display: inline-block;
}

.track.current_track:not(.playing) .play {
    display: inline-block;
}

.song_download,.song_video {
    width: 25px;
    margin: -1px 10px 0;
    cursor: pointer;
    float: right;
    transition: 200ms;
}

.song_video img , .song_download img{
    width: 25px;
}

img.on {
    display: none;
}
.song_video:hover > .on,.song_download:hover > .on {
    display: inline-block;
}
.song_video:hover > .off, .song_download:hover > .off {
    display: none;
}
