.sticky_player a, .sticky_player a:link, .sticky_player a:visited,
.sticky_player a:hover, .sticky_player a:focus, .sticky_player a:active {
    color: #009BE3;
}

.sticky_player ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
}

.sticky_player ul span {
    color: #A0A600;
}

.sticky_player li {
    float: left;
    margin-right: 1em;
}

.sticky_player p span.track-name {
    color: #CC0090;
}

.songs {
    padding: 0;
    margin: 0;
}

.songs li{
    display: block;
    float: none;
    margin: 5px;
    width:100%;
    transition: .3s;
    cursor: pointer;
    height: 50px;
    padding: 5px;
}
.songs li:hover {
    background-color: #DCEDC8;
}

.songs li a,.songs li a:hover {
    width: 90%;
    display: inline-block;
    height: inherit;
    text-decoration: none;
    color: #689F38;
}

.songs li a img {
    height: 40px;
    display: inline-block;
    margin: 0 10px 0 0;
}

.sticky_player_container {
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
    text-align: center;
    z-index: 2;


}
body {
    padding-bottom: 70px;
}

.sticky_player_holder {
    background: rgba(255, 255, 255, 0.7);
  /*  border: 1px solid white;*/
    text-align: left;
    margin: auto;
    width:1180px;
    padding: 5px 5px 0;
    border-radius: 3px 3px 0 0;
}

.sticky_player {
    background: rgba(255, 87, 34, 0.6);
    text-align: left;
    margin: auto;
    width:1170px;
    height: 70px;
    padding: 5px;
    border-radius: 3px 3px 0 0;
}

.sticky_player .image_container {
    height: 40px;
    width:70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons, .image_container,.track_container,.volume_container {
    display: inline-block;
    margin-left: 10px;
}