.sticky_player a, .sticky_player a:link, .sticky_player a:visited,
.sticky_player a:hover, .sticky_player a:focus, .sticky_player a:active {
    color: #009BE3;
}

.sticky_player_container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 55px;
    text-align: center;
    z-index: 2;
    background: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #cecece;
}

.sticky_player ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    width: 100%;
    overflow: hidden;
}

.sticky_player ul span {
    color: #A0A600;
}

.sticky_player p span.track-name {
    color: #CC0090;
}


.sticky_player {
   /* background: #ffffff;*/
    text-align: left;
    margin: auto;
    width:1170px;
    height: 50px;
}

.buttons ul li, .volume_container ul li {
    transition: .2s;
    display: inline-block;
    margin: 0 10px 0 0;
}
.buttons ul li img, .volume_container ul li img{
    width: 30px;
    cursor: pointer;
}
.buttons ul li:hover > img{
   opacity: .7;
}

.timeline_container,.buttons,.volume_container ,.track_container{
    display: inline-block;
    margin-right: 10px;
}

.timeline_container{
    position: relative;
    top: -6px;
}

.timeline_container ul li {
    transition: .2s;
    display: inline-block;
    margin: 0 5px 0 0;
}

.time_bar {
    width: 400px;
    background: #e2e2e2;
    height: 1px;
    position: relative;
    top: -4px;
}
.time_bar_filled {
    height: 1px;
    position: absolute;
    background: #FF5722;
    width:1%;
    transition: .3s;
}

.volume_container {
    position: relative;
}
.volume_bar_container {
    opacity: 0;
    width: 30px;
    height: 100px;
    transition: opacity 100ms linear;
    transition-delay: 100ms;
    position: absolute;
    z-index: 3;
    top: -97px;
    background: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    padding: 9px 0 0;
}
.volume_container:hover > .volume_bar_container {
    opacity: 1;

}

.volume_bar {
    position: relative;
    height: 82px;
    width: 3px;
    background: #e2e2e2;

    margin: auto;
}

.volume_bar_filled {
    position: absolute;
    bottom: 0;
    background: #FF5722;
    /*height: 40px;*/
    width: 3px;
    transition: .3s;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #ffffff;
    position: relative;
    top: 4px;
    left: 5px;
}

.track_container ul li {
    display: inline-block;
}

.image_container {
    height: 25px;
    width: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.track_title {
    position: relative;
    top: 7px;
    width:250px;
    margin-left: 5px;
    height: 30px;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis;
}

.actions_container {
    display: inline-block;
    text-align: right;
    min-width: 70px;
}

.actions_container ul li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.actions_container ul li:last-child {
    margin-right: 0;
}

.actions_container ul li img {
    width:30px;
}