.profile {
    text-align: center;
    padding: 10px;
}
.avatar_container {
    width: 90%;
}

.user_menu {
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 20px auto 10px;
}

.user_menu li {
    width: 100%;
}

.user_menu li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    /*font-weight: bold;*/
    width: 100%;
    padding: 5px 5px;
    background-color: white;
    transition: .3s;
}

.user_menu li.active, .user_menu li.active a {
    background-color: #8BC34A;
    color: white;
}
.user_menu li a:hover {
    text-decoration: none;
    background-color: #8BC34A;
    color: white;
}

.user_menu li a.active:hover {
    background-color: #8BC34A;
    color: white;
}

.empty_message {
    text-align: center;
}
.avatar {
    margin: 10px auto;
}

.form_submit_btn {
    padding: 6px 15px;
    text-align: center;
    font-size: 16px;
    background: #689F38;
    color: white;
    border: none;
    border-radius: 3px;
    outline: none;
}